@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya&family=Lato:wght@300&family=Montserrat&family=Noto+Sans+Khmer:wght@800&family=Noto+Sans:wght@600&family=Open+Sans:wght@300&family=Quicksand&family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300;500&display=swap');
/* AbeeZee: */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Alegreya&family=Lato:wght@300&family=Montserrat&family=Noto+Sans+Khmer:wght@800&family=Noto+Sans:wght@600&family=Open+Sans:wght@300&family=Quicksand&family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300;500&display=swap');
/* Algereya */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Alegreya&family=Lato:wght@300&family=Montserrat&family=Noto+Sans+Khmer:wght@800&family=Noto+Sans:wght@600&family=Open+Sans:wght@300&family=Quicksand&family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300;500&display=swap');@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Alegreya&family=Lato:wght@300&family=Montserrat&family=Noto+Sans+Khmer:wght@800&family=Noto+Sans:wght@600&family=Open+Sans:wght@300&family=Quicksand&family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
}
body{
    background-color: rgba(128, 0, 128, 0.665);
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 10vh;
    /* opacity: 0.4; */
    position: fixed;
    width: 100%;
    border-right: 10px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-right: 100px;
    background-color: rgba(128, 0, 128, 0.691);
}
nav a {
    padding: 0.4em;
    padding-right: 3em;
    padding-right: 3em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    /* font-weight: bold; */
}

.your-logo {
    float: left;
    height: 10vh;
    margin-left: 20px;
    font-family: 'Alegreya', serif;
}

.home{ 
    color: black;
    padding: 0.4em 1.3em;
    background-color: rgba(215, 215, 215, 0.533);
    border: 2px solid rgba(215, 215, 215, 0.298);
    border-radius: 24px;
    padding-bottom: 0.3em;
    /* border-bottom: 2px solid white; */
    cursor: pointer;
    margin-right: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.217);
}

.about {
    color: white;
    padding: 0.4em 1.3em;
    background-color: rgba(215, 215, 215, 0.533);
    border: 2px solid rgba(215, 215, 215, 0.298);
    border-radius: 24px;
    padding-bottom: 0.3em;
    /* border-bottom: 2px solid white; */
    cursor: pointer;
    margin: 0 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.217);
}

.contact {
    color: white;
    padding: 0.4em 1.3em;
    background-color: rgba(215, 215, 215, 0.533);
    border: 2px solid rgba(215, 215, 215, 0.298);
    border-radius: 24px;
    padding-bottom: 0.3em;
    /* border-bottom: 2px solid white; */
    cursor: pointer;
    margin: 0 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.217);
}

.services {
    color: white;
    padding: 0.4em 1.3em;
    background-color: rgba(215, 215, 215, 0.533);
    border: 2px solid rgba(215, 215, 215, 0.298);
    border-radius: 24px;
    padding-bottom: 0.3em;
    /* border-bottom: 2px solid white; */
    cursor: pointer;
    margin: 0 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.217);
}


.bg-img {
    background-size: small;
    /* width: 120vw; */
    margin-left: -110px;
    display: inline-block;
    z-index: -1;
    /* margin-top: -90%; */
}

.container {
    position: relative;
    z-index: -1;
}
.child {
    position: absolute;
    top: 23%;
    left: 60%;
    /* transform: translate(-50%, -50%); */
    font-size: 2rem;
}
.child p {
    margin-top: 20px;
    margin-left: 5px;
    color: white;
    font-size: 1.38rem;
    font-family: 'Alegreya', serif;
}
.child h1 {
    font-family: 'ABeeZee', sans-serif;
}









/* responsiveness */

@media screen and (max-width: 500px) {
    nav {
        flex-wrap: wrap;
        height: 15vh;
        overflow: hidden;
    }
    nav a {
        padding: 0.8em;
    }
}

@media screen and (max-width:1530px) {
    .bg-img { 
    min-height: 100vh;
    min-width: 150vw;
    }

}
